<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <meta name="description" content="NinjaCard Verifiable Credentials Verification">
    <meta name="author" content="Microsoft">
    <link rel="icon" href="~/favicon.png">

</head>
<body>
            @RenderBody()
</body>
</html>
